<h1><%= @student.format_name %></h1>
<p><%= @student.house().name.capitalize %></p>
<p><%= @student.age %></p>
<a href="/students/<%= @student.id %>/edit">Edit student details</a>
<form class="" action="/students/<%= @student.id %>/death" method="post">
  <input type="submit" value="Murder!!">
</form>
